<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch Up</title>
    <!-- FA-CDN -->

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- Links -->
    <link rel="stylesheet" href="/static/css/post_list.css">
    <link rel="stylesheet" href="/static/css/general.css">
    
</head>
<body>
{% load crispy_forms_tags %}
<nav>
    <div class="container">
        <a href="{% url 'post-list' %}" style = "color:black;">
        <h2 class="logo">
            Catch Up
        </h2>
        </a>

        <div class="search-bar" >
            <form method="GET" action="{% url 'profile-search' %}">
                {% csrf_token %}
                <i class="fas fa-search"></i>
                <input type="search" name = "query" value = "{{ request.GET.query }}" placeholder="Search for people who interests you , get latest News and happening">
            </form>
        </div>
        
        <div class="create">
            
            <a href="{% url 'profile' request.user.profile.pk %}">
                <label class="btn btn-primary" for="create-post">Profile</label>
            </a>

        </div>

    </div>
</nav>

    <main>
        <div class="container">
            <!-- Left -->
            <div class="left">
                <div class="profile">
                    
                    
                    <div class="handle" id = "user-profile-handle" style=" padding-left:30% ">
                        {% comment %} <div style="margin-right: 0.45rem; width: 4.5rem;">
                            <img src="{{ user.profile.picture.url }}" alt="" style="max-width: 50px;max-height: 50px; height: 50px;border-radius: 25px;object-fit: cover;">
                        </div> {% endcomment %}
                        <div>  
                            <h4>{{ request.user }}</h4>
                            <p class="text-muted">@{{ request.user }}</p>
                        </div>
                 
                    </div>
                

                </div>

                <div class="sidebar">
                    <a  class="menu-item" href="{% url 'post-list' %}" style="color: hsl(255,75%,60%);">
                        <span><i class="fas fa-home"></i></span> <h3>Home</h3>
                    </a>

                    <a class="menu-item active">
                        <span><i class="fas fa-binoculars"></i></span> <h3 style="color: hsl(255,75%,60%);">Find</h3>
                    </a>

                    <a class="menu-item" href = "{% url 'inbox' %}">
                        <span><i class="fas fa-user-friends"></i></span> <h3 style="color: hsl(255,75%,60%);">Social</h3>
                    </a>

                     <a class="menu-item" href = "{% url 'account_logout' %}" style="color: hsl(255,75%,60%);">
                        <span><i class="fas fa-angle-double-left"></i></span> <h3>Sign Out</h3>
                    </a>
                </div>

               
 
            </div>
            <!-- Middle -->
        <div class="middle">
                           
            <!-- Feeds -->
                <div class="middle">

                    <form class="create-post" method="POST" enctype="multipart/form-data" action = "{% url 'create-thread' %}">
                        {% csrf_token %}

                            {{ form }}                    
                            <input type="submit" value="Find" class="btn btn-primary">

                    </form>
<!--
                    <div class = "no_user_found_error" style = "text-align:center;margin-top:2rem;">
                        {% if messages %}
                                {% for message in messages  %}
                                    <h3>
                                        {{message}}
                                    </h3>
                                        <div class = "empty-show">
                                            <img src="/static/Images/empty.svg" alt="">
                                        </div>
                                {% endfor %}
                        {% endif %}
                    </div>
                    -->

                </div>

                <!-- convos -->

                <div class="feeds">

                    {% for thread in threads.all %}
                    
                    <!-- Feeds 1-->
                    
                        <div class="feed">
                            
                            <div class="head">
                            
                                <div class="user">
                                    
                                    <div class="info">
                                        <div>
                                        <h3>
                                        <a href="{% url 'thread' thread.pk %}" style="color: hsl(255,75%,60%);text-decoration: underline;">
                                                {{ thread.user }} - {{ thread.receiver }}
                                            
                                        </h3>
                                        </div>
                                        <small>
                                            <!--Date-->
                                        </small>
                                    </div>
    <!--space-->
                                </div>
                                
                                </a>
                        </div>
    
                        {% endfor %}

                <!-- End convos -->

        </div>
<!-- End of Middle -->


<script src="/static/js/post_list.js"></script>

</body>
</html>

