.like-dislike{
    display: flex;
    background-color: rgb(240 , 238 , 245);
    border-radius: 25px;
    justify-content: space-evenly;
    padding-left: 13%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    margin-bottom: 1%;
    
}

.like-dislike-counter{
    display: flex;
    background-color: rgb(240 , 238 , 245);
    border-radius: 25px;
    justify-content: space-evenly;
    padding-left: 7%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    margin-bottom: 1%;
    
}

.caption{
    background-color: rgb(240 , 238 , 245);
    border-radius: 25px;
    padding: 5%;
}

#like-count-body{
    display: flex;
    font-weight: 200;
}

.middle .profile-pic-name{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.followers-count-and-button{
    display: flex;
    background-color: white;
    margin-top: 5%;
    border-radius: 25px;
    padding-left:5% ;
    justify-content: space-evenly;

}

.followers-count-and-button button{
    width: 5rem;
    margin-top: 11%;
    
}

.left .profile #user-profile-handle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.comments-like-dislike{
    display: flex;
    background-color: aqua;
}    

.hide{
    visibility: hidden;
}

.show{
    visibility: visible;
}

.share-hidden{
    visibility: hidden;
}

.share-shown{
    visibility:visible;
}

.tag_search_name{
    background-color: white;
    border-radius: 25px;
    padding: 0.5rem;
    margin-top: 1%;
    text-align: center;
}

.tag_search_name h3{
    font-weight: 200;
}

.explore-form-message{
            position:sticky;
            top:3.9995rem;
            border: 2px solid rgb(240 , 238 , 245);
            border-radius: 25px;
            background-color: rgb(240 , 238 , 245);
            margin-top: 0rem;
            padding-top: 1rem;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
}

